{% extends "base.html" %}
{% load i18n %}

{% block page_header %}
  {% trans "Delete Your Account" %}
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<p>{% blocktrans %}
  You are about to remove your user account.  This
  will <strong>permanently</strong> delete you profile and all work
  registrations.  If you are currently using your profile as an
  OpenID, it will no longer function.
{% endblocktrans %}</p>

<div class="form">
  <form method="post" enctype="multipart/form-data" action=".">

    <p>{% blocktrans %}Are you sure you wish to continue?
    This <strong>can not</strong> be undone.{% endblocktrans %}</p>

    <input type="submit" name="confirm" value='{% trans "Yes, delete" %}' />
    <a href="{{content.user.get_profile.get_absolute_url}}">
      {% trans "No, cancel" %}</a>
  </form>
</div>

{% else %}

<p>
  {% blocktrans %}You have successfully deleted your account.  Thanks
  for using the CC Network.  If you have feedback on how we can
  improve our service, please
  email <a href="mailto:webmaster@creativecommons.org">webmaster@creativecommons.org</a>.{% endblocktrans %}

</p>

{% endif %}

{% endblock %}
