{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block head_title %}{% trans "Profile" %} -{% endblock %}

{% block page_header %}
{% if profile %}
  {% trans "Edit Profile" %}
{% else %}
  {% trans "Create Profile" %}
{% endif %}
{% endblock %}

{% block extra_nav %}
<li><a href="{% url password_change %}">{% trans "Change Password" %}</a></li>
<li><a href="{% url delete_account %}">{% trans "Delete My Account" %}</a></li>
{% endblock %}
{% block page_icon_class %}edit{% endblock %}
{% block body %}


<div class="form">
  <form method="post" enctype="multipart/form-data" action=".">

    <h3>{% trans "About You" %}</h3>

    <div class="field" id="nickname">
      <span class="field_label">{{form.nickname.label}}: </span>
      {{form.nickname}}
      {% if form.nickname.errors %}
      <div class="errors">
	{{ form.nickname.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field" id="homepage">
      <span class="field_label">{{form.homepage.label}}: </span>
      {{form.homepage}}
      {% if form.homepage.errors %}
      <div class="errors">
	{{ form.homepage.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field" id="location">
      <span class="field_label">{{form.location.label}}: </span>
      {{form.location}}
      {% if form.location.errors %}
      <div class="errors">
	{{ form.location.errors }}
      </div>
      {% endif %}
    </div>

    <h3>{% trans "Profile Photo" %}</h3>
    <div class="field" id="photo">
      {% if form.instance.photo %}
        <img src="{{ profile.photo|scale }}" 
             alt="[ {{ profile_user.first_name }}]" 
             />
		<p> 
	<span class="field_label">		 
	{% trans "Replace photo" %}: 
      {% else %}
	<span class="field_label">
	{% trans "Choose photo" %}:
      {% endif %}
	</span>
      {{form.photo}}
	 	</p>
      	{% if form.instance.photo %}
		<p>
			<span class="field_label">{{ form.remove_photo.label}}</span>
               {{ form.remove_photo }}
		</p>
      {% endif %}
      {% if form.photo.errors %}
      <div class="errors">
	{{ form.photo.errors }}
      </div>
      {% endif %}
    </div>

    <h3>{% trans "Your CC Story" %}</h3>
    <div class="field" id="story">
      <p>
	{% blocktrans %}Tell us how you've used CC to share your work,
	find work to re-use, and expand the Commons.{% endblocktrans %}
      </p>

      {{form.story}}
      {% if form.story.errors %}
      <div class="errors">
	{{ form.story.errors }}
      </div>
      {% endif %}
    </div>

	<h3 class="notice">{% trans "Notice" %}</h3>
	<p class="field" id="legal">
	  {% blocktrans %}To the extent protected by copyright, all
	  information and content you post or upload to this page or
	  elsewhere on <em>creativecommons.net</em>, including any
	  photograph/image you upload and any content you include
	  in <em>Your CC Story,</em> above, you make available and
	  license to the public under
	  the <a href="http://creativecommons.org/licenses/by/3.0/">Creative
	  Commons Attribution 3.0 Unported</a> license. Read
	  our <a href="/l/termsofuse.html">Terms of Use</a> for more
	  information about your obligations and responsibilities for
	  the information, content and links you post and upload here
	  and otherwise on this website.{% endblocktrans %}
	</p>

    <input type="submit" value='{% trans "Save Profile" %}' />
    {% if profile %}
    &nbsp;<a href="{% url profile_view user.username %}">
      {% trans "cancel" %}</a>
    {% endif %}
  </form>
</div>

{% endblock %}
