{% extends "base.html" %}
{% load thumbnail %}
{% block head_title %}Profile -{% endblock %}

{% block page_header %}
{% if profile %}
Edit Profile
{% else %}
Create Profile
{% endif %}
{% endblock %}

{% block extra_nav %}
<li><a href="{% url password_change %}">Change Password</a></li>
{% endblock %}
{% block page_icon_class %}edit{% endblock %}
{% block body %}

<div class="form">
  <form method="post" enctype="multipart/form-data" action=".">

    <h3>About You</h3>

    <div class="field" id="nickname">
      <span class="field_label">{{form.nickname.label}}: </span>
      {{form.nickname}}
      {% if form.nickname.errors %}
      <div class="errors">
	{{ form.nickname.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field" id="homepage">
      <span class="field_label">{{form.homepage.label}}: </span>
      {{form.homepage}}
      {% if form.homepage.errors %}
      <div class="errors">
	{{ form.homepage.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field" id="location">
      <span class="field_label">{{form.location.label}}: </span>
      {{form.location}}
      {% if form.location.errors %}
      <div class="errors">
	{{ form.location.errors }}
      </div>
      {% endif %}
    </div>

    <h3>Profile Photo</h3>
    <div class="field" id="photo">
      {% if form.instance.photo %}
        <img src="{{ profile.photo|scale }}" 
             alt="[ {{ profile_user.first_name }}]" 
             /><br/> 
	<span class="field_label">		 
	Replace photo: 
      {% else %}
	<span class="field_label">
	Choose photo:
      {% endif %}
	</span>
      {{form.photo}}
      {% if form.instance.photo %}
	<br/><span class="field_label">{{ form.remove_photo.label}}</span>
               {{ form.remove_photo }}
      {% endif %}
      {% if form.photo.errors %}
      <div class="errors">
	{{ form.photo.errors }}
      </div>
      {% endif %}
    </div>

    <h3>Your CC Story</h3>
    <div class="field" id="story">
      <p>
	Tell us how you've used CC to share your work, find work to
	re-use, and expand the Commons. By sharing your story here you
	agree to license it under the Creative
	Commons <a href="http://creativecommons.org/licenses/by/3.0/">
	  Attribution 3.0 Unported</a> license.  Re-use will be
	attributed to you.</p>

      {{form.story}}
      {% if form.story.errors %}
      <div class="errors">
	{{ form.story.errors }}
      </div>
      {% endif %}
    </div>

    <input type="submit" value="save profile" />
    {% if profile %}
	&nbsp;<a href="{% url profile_view user.username %}">cancel</a>
	{% endif %}
  </form>
</div>

{% endblock %}
