{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block header %}
<meta http-equiv="x-xrds-location" content="{{base_url}}{% url server_xrds %}" />
<link rel="openid.server" href="{{base_url}}{% url commoner.server.views.endpoint %}" />
<link rel="openid2.provider" href="{{base_url}}{% url commoner.server.views.endpoint %}" />

<link about="" typeof="sioc:User" />
{% endblock %}

{% block head_title %}{{ profile.display_name }} -{% endblock %}

{% block page_header %}
  <span rel="sioc:member_of" resource="/">
    {{ profile.display_name }}
  </span>
{% endblock %}
{% block page_sub_header %}
  {% if profile.active %}
    {% trans "Active" %} 
  {% else %}
    {% trans "Inactive" %}
  {% endif %}
{% endblock %}

{% block extra_nav %}
{% if user.is_authenticated %}
  {% ifequal user.username profile_user.username %}
<li><a href="{% url profile_edit %}">{% trans "Edit Profile" %}</a></li>
  {% endifequal %}{% endif %}
{% endblock %}

{% block body %}
<div class="column-wide column profile-info">

  {% if profile %}
   {% if profile.photo %}
    <img src="{{ profile.photo|scale }}" 
         alt="[ {{ profile_user.first_name }}]" 
         />
   {% else %}
    <img src="/m/images/blank-avatar.jpg" alt="[ {{ profile_user.first_name }} ]" />
   {% endif %}

   <ul>
     <li property="sioc:name cc:attributionName">{{ profile.full_name }}</li>
     <li><a href="{{profile.homepage}}">{{ profile.homepage }}</a></li>
     <li>{{ profile.location }}</li>
   </ul>
  <div class="clear story">
    {% if profile.story %}
    <h2>{% trans "My CC Story" %}</h2>
    <a href="{{profile.get_absolute_url}}" rel="cc:attributionURL"></a>
    {{ profile.story|escape|linebreaks }}
    {% endif %}

  </div>

  {% else %}
  
  <p>
    <ul>
      <li property="sioc:name cc:attributionName">{{ profile_user.first_name }} {{ profile_user.last_name}}</li>
    </ul>
  </p>

  {% endif %}

</div>

<div class="column-narrow column">
    {% if user.is_authenticated %}
      {% ifequal user.username profile_user.username %}
        <div id="badge">
          <img src="{{ profile.badge_img_url }}" alt="CC Network - Badge" title="CC Network" border="0" />
          <p>
            <strong>{% trans "Place this badge on your website" %}</strong><br/>
            <input id="network-badge" value='{% include "profiles/badge.html" %}' 
		   readonly="readonly" onclick="this.select()" onfocus="document.getElementById('network-badge').select();" type="text" />
          </p>
        </div>
      {% endifequal %}{% endif %}
	{% ifequal user.username profile_user.username %}
	<a class="add_work" title="add a work" 
	   href="{% url add_content %}">{% trans "Add" %}</a>
	{% endifequal %}
    <h4>{% trans "Works I Have Licensed" %}</h4>
    {% if profile.works.all %}
    <ul class="licensed-works">
      {% for work in profile.works.all|slice:":5" %}
         {% include "works/list_item.html" %}
      {% endfor %}

      <li style="text-align:right">
	<a rel="rdf:seeAlso" 
	   href="{% url commoner.profiles.views.works profile_user.username %}">
	  <em>{% trans "All..." %}</em>
	</a>
      </li>
    </ul>
    {% else %}
      {% ifequal user.username username %}
        <span class="no-works">
	  {% url add_content as url_add_work %}
	  {% blocktrans %}
	  You haven't registered any licensed
	  works at this time; would you like to 
	  <a href="{{ url_add_work }}">add one</a>?</span>
	{% endblocktrans %}
      {% else %}
        <span class="no-works">{% blocktrans %}
	  This user has not registered any licensed works.
	{% endblocktrans %}</span>
      {% endifequal %}
    {% endif %}
</div>

<br style="clear: both" />

{% endblock %}
