{% extends "base.html" %}

{% block page_header %}
Delete Content Registration
{% endblock %}

{% block body %}

<p>
  You are going to remove the content registration for
  <a href="{{content.get_absolute_url}}">{{content.title}}</a>.
</p>

<div class="form">
  <form method="post" enctype="multipart/form-data" action=".">

    <p>
      Are you sure you wish to continue? This can not be undone.
    </p>

    <input type="submit" name="confirm" value="Yes, delete" />
    <a href="{{content.user.get_profile.get_absolute_url}}">No, cancel</a>
  </form>
</div>

{% endblock %}
