{% extends "base.html" %}

{% block page_header %}
Work Registration
{% endblock %}
{% block page_icon_class %}works{% endblock %}

{% block body %}

<h2 property="dct:title">{{work.title}}</h2>
<h3><a href="{{work.url}}">{{work.url}}</a></h3>

<div class="field">
  <span class="field_label">Registered By:</span> 
  <a href="{{work.user.get_profile.get_absolute_url}}">{{ work.user.get_profile.display_name }}</a>
</div>

<div class="field">
  <span class="field_label">Registered:</span> 
  <span property="dct:created">{{ work.registered }}</span>
</div>

<div class="field">
  <span class="field_label">License:</span> 
  <a rel="license" href="{{work.license}}">{{ work.license }}</a>
</div>

{% endblock %}

{% block license_override %}
<a href="http://creativecommons.org/licenses/by/3.0/"
   class="subfoot">Creative Commons Attribution 3.0 License</a>
{% endblock %}
