{% extends "base.html" %}

{% block head_title %}{{ work.title }} -{% endblock %}

{% block page_header %}
Work Registration
{% endblock %}
{% block page_icon_class %}works{% endblock %}

{% block extra_nav %}
   {% ifequal user work.user %}
   <li><a href="{% url edit_content work.id %}">edit</a></li>
   <li><a href="{% url delete_content work.id %}">delete</a></li>
   {% endifequal %}
{% endblock %}

{% block body %}

<h2 property="dct:title">{{work.title}}</h2>
<h3><a href="{{work.url}}">{{work.url}}</a></h3>

<ul class="work_fields">
  <li>
    <span class="field_label">Registered By:</span> 
    <a href="{{work.user.get_profile.get_absolute_url}}">{{ work.user.get_profile.display_name }}</a>
  </li>

  <li>
    <span class="field_label">Registered:</span> 
    <span property="dct:created" datatype="xsd:date">{{ work.registered }}</span>
  </li>

  <li>
    <span class="field_label">License:</span> 
    <a about="{{work.url}}" rel="license" href="{{work.license}}">{{ work.license }}</a>
  </li>
</ul>

{% endblock %}

{% block license_override %}
<a href="http://creativecommons.org/licenses/by/3.0/"
   class="subfoot">Creative Commons Attribution 3.0 License</a>
{% endblock %}
