{% extends "base.html" %}

{% block page_header %}
Work Registration
{% endblock %}
{% block page_icon_class %}works{% endblock %}

{% block body %}

<h2>{{work.title}}</h2>
<h3>{{work.url}}</h3>

<div class="field">
<span class="field_label">Registered By:</span> <a href="{{work.user.get_profile.get_absolute_url}}">{{ work.user.get_profile.display_name }}</a>
</div>

<div class="field">
<span class="field_label">Registered:</span> {{ work.registered }}
</div>

<div class="field">
<span class="field_label">License:</span> {{ work.license}}
</div>

{% endblock %}
