{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Registration" %} -{% endblock %}
{% block page_header %}{% trans "Registration" %}{% endblock %}

{% block nav_override %}{% endblock %}
{% block page_icon_class %}register{% endblock %}
{% block body %}

<div class="form">

<h2>{{form.partial.first_name}} {{form.partial.last_name}}</h2>
<h3>{{form.partial.email}}</h3>

<p class="help">The CC Network provides a set of services, including a 
  light-weight copyright registry. <strong>Completing this registration will
  create a public profile page with your full name, as displayed
  above, visible on it.</strong> 
  <em><a href="http://creativecommons.org/weblog/entry/10043">(more
  information on why we do this)</a></em>
</p>

  {% if form.non_field_errors %}
   <div class="errors">
     {{ form.non_field_errors }}
   </div>
  {% endif %}
  <form action="." method="POST">

	<div class="field" id="first_name">
	    <span class="field_label">{{ form.first_name.label_tag }}: </span>
	    {{ form.first_name }}
	  </div>

	  <div class="field" id="last_name">
	    <span class="field_label">{{ form.last_name.label_tag }}: </span>
	    {{ form.last_name }}
	  </div>

	  <div class="field" id="email_address">
	    <span class="field_label">{{ form.email.label_tag }}: </span>
	    {{ form.email }}
	  </div>
	

    <div class="field" id="username">
      <span class="field_label">{{form.username.label}}</span>
      {{form.username}}
      <div class="help">{{form.username.help_text}}</div>
      {% if form.username.errors %}
      <div class="errors">
	{{ form.username.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field noborder" id="password1">
      <span class="field_label">{{form.password1.label}}</span>
      {{form.password1}}
      {% if form.password1.errors %}
      <div class="errors">
	{{ form.password1.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field" id="password2">
      <span class="field_label">{{form.password2.label}}</span>
      {{form.password2}}
      {% if form.password2.errors %}
      <div class="errors">
	{{ form.password2.errors }}
      </div>
      {% endif %}
    </div>

	  <div class="field" id="promo_code">
	    <span class="field_label">{{ form.promo_code.label_tag }}: </span>
      {% if form.promo_code.errors %}
      <div class="errors">
        {{ form.promo_code.errors }}
      </div>
      {% endif %}
	    {{ form.promo_code }}
	  </div>

    <div class="field" id="agree_to_tos">
      <h3>{% trans "Terms of Use" %}</h3>
      <iframe src="/l/termsofuse.html" class="tos"> </iframe>
      <div>
        {{form.agree_to_tos}}
        <span >{{form.agree_to_tos.label}}</span>
        {% if form.agree_to_tos.errors %}
        <div class="errors">
          {{ form.agree_to_tos.errors }}
        </div>
        {% endif %}
	<div class="help" style="margin-left:0;">{{form.agree_to_tos.help_text}}</div>
      </div>
    </div>

    <input type="submit" value="submit registration" />

  </form>
</div>

{% endblock %}
