{% extends "base.html" %}
{% block head_title %}Complete Registration -{% endblock %}
{% block page_header %}Complete Registration{% endblock %}

{% block nav_override %}{% endblock %}
{% block page_icon_class %}register{% endblock %}
{% block body %}

<h2>{{form.partial.first_name}} {{form.partial.last_name}}</h2>
<h3>{{form.partial.email}}</h3>

{% if form.partial.complete %}
<p class="error">
This registration code has already been used.
</p>

{% else %}

<div class="form">
  {% if form.non_field_errors %}
   <div class="errors">
     {{ form.non_field_errors }}
   </div>
  {% endif %}
  <form action="." method="POST">

    <div class="field" id="username">
      <span class="field_label">{{form.username.label}}</span>
      {{form.username}}
      <div class="help">{{form.username.help_text}}</div>
      {% if form.username.errors %}
      <div class="errors">
	{{ form.username.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field noborder" id="password1">
      <span class="field_label">{{form.password1.label}}</span>
      {{form.password1}}
      {% if form.password1.errors %}
      <div class="errors">
	{{ form.password1.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field" id="password2">
      <span class="field_label">{{form.password2.label}}</span>
      {{form.password2}}
      {% if form.password2.errors %}
      <div class="errors">
	{{ form.password2.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field" id="agree_to_tos">
      <h3>Terms of Use</h3>
      <iframe src="/l/termsofuse.html" class="tos"> </iframe>
      <p>
        {{form.agree_to_tos}}
        <span class="field_label">{{form.agree_to_tos.label}}</span>
        {% if form.agree_to_tos.errors %}
        <div class="errors">
          {{ form.agree_to_tos.errors }}
        </div>
        {% endif %}
      </p>
    </div>

    <input type="submit" value="complete registration" />

  </form>
</div>

{% endif %}

{% endblock %}
