{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Registration" %} -{% endblock %}
{% block page_header %}{% trans "Start a new account" %}{% endblock %}
{% block body %}

{% if form.errors %}


{% endif %}

<div class="form">
<form method="post" action=".">

  <div class="field" id="first_name">
    <span class="field_label">{{ form.first_name.label_tag }}: </span>
    {{ form.first_name }}
  </div>

  <div class="field" id="last_name">
    <span class="field_label">{{ form.last_name.label_tag }}: </span>
    {{ form.last_name }}
  </div>
  
  <div class="field" id="email_address">
    <span class="field_label">{{ form.email.label_tag }}: </span>
    {{ form.email }}
  </div>

  <div class="field" id="username">
    <span class="field_label">{{ form.username.label_tag }}: </span>
    {{ form.username }}
  </div>

  <div class="field" id="password1">
    <span class="field_label">{{ form.password1.label_tag }}: </span>
    {{ form.password1 }}
  </div>

  <div class="field" id="password2">
    <span class="field_label">{{ form.password2.label_tag }}: </span>
    {{ form.password2 }}
  </div>

  <div class="field" id="promo">
    <span class="field_label">{{ form.promo.label_tag }}: </span>
    {{ form.promo }}
  </div>

  <p>
    <input type="submit" value="Submit" />
  </p>

</form>
</div>

{% endblock %}
