{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Login" %} -{% endblock %}
{% block page_header %}{% trans "Login" %}{% endblock %}
{% block body %}

{% if form.errors %}
<p>{% blocktrans %}
  Your username and password didn't match. Please try again.
{% endblocktrans %}</p>
{% endif %}

<div class="form">
<form method="post" action=".">

  <div class="field" id="username">
    <span class="field_label">{{ form.username.label_tag }}: </span>
    {{ form.username }}
  </div>

  <div class="field" id="password">
    <span class="field_label">{{ form.password.label_tag }}: </span>
    {{ form.password }}
  </div>
  
  <div class="field" id="remember">
    <span class="field_label">{{ form.remember.label_tag }}: </span>
    {{ form.remember }}
  </div>
  
  <input type="hidden" name="next" value="{{ next }}" />
  <p>
    <input type="submit" value="login" />
    &nbsp;&nbsp;&nbsp;<a href="{% url password_reset %}">
      {% trans "Forgot your password?" %}</a>
  </p>

</form>
</div>

{% endblock %}
