{% extends "base.html" %}
{% load i18n %}
{% load getattribute %}

{% block head_title %}{% trans "Account" %} -{% endblock %}

{% block page_header %}
	{% if profile.free %}
		{% trans "Account Upgrade" %}
	{% else %}
		{% trans "Account Renewal" %}
	{% endif %}
{% endblock %}

{% block page_icon_class %}edit{% endblock %}

{% block extra_nav %}
{% endblock %}

{% block body %}

{% if profile.free %}
	
	<p>Upgrade today!</p>

{% else %}
	
	<p>Renew your account today!</p>

{% endif %}
	
{% include "registration/upgrade_form.html" %}

{% endblock %}