{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your Identity" %} -{% endblock %}
{% block page_header %}{% trans "Verify Your Identity" %}{% endblock %}

{% block body %}

{% ifequal trust_root_valid "Valid" %}
  <!-- Trust root has been validated by OpenID 2 mechanism. -->
{% blocktrans with trust_root|escape as trust_root%}
<p>The site <tt>{{ trust_root }}</tt> has requested verification
of your OpenID.</p>
{% endblocktrans %}
{% endifequal %}
{% ifequal trust_root_valid "Invalid" %}
<div class="error">
{% blocktrans with trust_root|escape as trust_root%}
<p>A site claiming to be {{ trust_root }} has requested that
you verify your OpenID.  Unfortunately when I attempted to verify this
claim the site returned an invalid response.  This may mean that
someone is impersonating {{ trust_root }}.</p>

<p>Please tell the <em>real</em> {{ trust_root }} that someone is
trying to abuse your trust in their good name.</p>
{% endblocktrans %}
</div>
{% endifequal %}
{% ifequal trust_root_valid "Unreachable" %}
{% blocktrans with trust_root|escape as trust_root %}
  <p>The site <tt>{{ trust_root }}</tt> has requested verification
  of your OpenID.  I have failed to reach it and thus cannot vouch for its
  authenticity.  Perhaps it is on your local network.</p>
{% endblocktrans %}
{% endifequal %}
{% ifequal trust_root_valid "DISCOVERY_FAILED" %}
{% blocktrans with trust_root|escape as trust_root %}
  <p>The site <tt>{{ trust_root }}</tt> has requested verification
  of your OpenID.  However, <tt>{{ trust_root }}</tt> does not 
  implement OpenID 2.0's relying party verification mechanism.  Please use
  extra caution in deciding whether to release information to this party,
  and ask <tt>{{ trust_root }}</tt> to implement relying party
  verification for your future transactions.</p>
{% endblocktrans %}
{% endifequal %}

<!-- trust_root_valid is {{ trust_root_valid }} -->

<form method="post"
      action="{{ trust_handler_url }}">

{% if sreg_request.wereFieldsRequested %}

{% if sreg_request.policy_url %}
<p>{% blocktrans with sreg_request.policy_url as policy_url%}
<code>{{trust_root}}</code> has also asked for 
  registration information which will be used under 
<a href="{{ policy_url }}">this policy</a>. Which information would
you like to share?{%endblocktrans %}</p>

{% else %} 

<p>{% blocktrans %}
<code>{{trust_root}}</code> has also asked for registration
information; the site did not provide information about how the
information will be used. Which information would you like to
share?{%endblocktrans %}</p>

{% endif %}

<p>
{% for field, data in sreg_data.items %}
<input type="checkbox" value="{{field}}" name="allow_sreg" />
<label>{{field}} ({{data}})</label><br/>
{% endfor %}
</p>

<p>{% blocktrans%}Verify your identity and share selected registration
  data with <code>{{trust_root}}</code>?{%endblocktrans %}</p>

{% else %}

<p>{% blocktrans%}Verify your identity to the <code>{{trust_root}}</code>?{%endblocktrans %}</p>

{% endif %}

  <p>
  <input type="radio" value="off" checked="checked"
	 name="remember" />
  <label for="remember">{% trans 'Just this once.' %}</label>
  <input type="radio" value="on"
	 name="remember" />
  <label for="remember">{% trans 'Always do this.' %}</label>
  </p>

  <p>
  <input type="submit" value="{% trans 'Yes, continue' %}" name="allow" />
  <input type="submit" value="{% trans 'No, cancel' %}" name="cancel" />
</p>
</form>


{% endblock %}
