{% extends "base.html" %}
{% load i18n %}
{% load getattribute %}

{% block head_title %}{% trans "Account" %} -{% endblock %}

{% block page_header %}
  {% trans "Account Overview" %}
{% endblock %}

{% block page_icon_class %}edit{% endblock %}

{% block extra_nav %}
{% endblock %}

{% block body %}

{% if profile.free %}
	<h2>Free Account</h2>		
	<p>
		Aren't you interested in registering and citing works?
		<a href="{% url account_upgrade %}">Click here</a> 
		to upgrade to a Premium Account now!
    </p>
    
{% else %}		
		{# check to make sure they weren't premium before #}
		{% if not profile.active %}
		<p>
			Your CC Network account expired on 
			<strong>{{profile.expires|date:"F d, Y"}}</strong>. 
			 
			As a result of the expiration, your account has been reduced to one of 
			our Free accounts.  You may continue using CC Network as your OpenID 
			provider, but you will no longer be able to register works and your 
			public profile will reflect that you are no longer a CC donor. 
			
			<a href="{% url account_upgrade %}">Click here</a> 
			to upgrade to a Premium Account now!
		</p>
            
        {% else %}
            <h2>Premium Account</h2>		
            <p>
            Your account will expire in <strong>{{profile.expires|timeuntil}}</strong>.
		
            {# need to put some conditional logic here #}
		
            <a href="{% url account_renew %}">Click here</a> 
            to renew your account for an additional year.
            </p>
        {% endif %}
	
	<h2>Work Registrations</h2>
	<p>
		{% if profile.works %}
		You have registered <strong>{{ profile.works.all|length }}</strong> work{{ profile.works.all|length|pluralize }}.
		Your last registration was on <strong>{{ profile.works.all|first|getattr:"registered"|date:"F d, Y" }}</strong>.
		{% else %}
		You have not registered any works yet, <a href="{% url add_content %}">
		click here</a> to register your works.
		{% endif %}
{% endif %}

{% endblock %}
