{% extends "base.html" %}
{% load i18n %}
{% load getattribute %}

{% block head_title %}{% trans "Account" %} -{% endblock %}

{% block page_header %}
  {% trans "Redeem Your Promo Code" %}
{% endblock %}

{% block page_icon_class %}edit{% endblock %}

{% block extra_nav %}
{% endblock %}

{% block body %}

<h1>Promo code entered: <span>{{ code }}</span></h1>

<div style="float:left;width:400px;padding:0px;margin:25px 0">
  <div style="padding:5px">
    <a href="{% url registration_register %}?c={{code}}" style="font-size:2em;padding:5px;background:#ddd;border:1px #ccc solid;">Create a new account.</a>
    <p><a href="{% url registration_register %}?c={{code}}">Click here</a> to create a new account using this promo code.</p>
  </div>
</div>
<div style="float:left;width:400px;padding:0px;margin:25px 0">
  <div style="padding:5px">
    <a href="{% url account_renew %}?c={{code}}" style="font-size:2em;padding:5px;background:#ddd;border:1px #ccc solid;">Renew an existing account..</a>
    <p>If you already have an account on CC Network, <a href="{% url account_renew %}?c={{code}}">click here</a> to renew your membership using this promo code.</p>  
  </div>
</div>

<div class="clear"></div>




{% endblock %}
