{% extends "base.html" %}
{% load i18n %}
{% load getattribute %}

{% block header %}
<link href="https://support.creativecommons.org/sites/default/themes/cc/css/join.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block head_title %}{% trans "Account" %} -{% endblock %}

{% block page_header %}
  {% trans "Renew Your Commitment to the CC Network" %}
{% endblock %}

{% block page_icon_class %}edit{% endblock %}

{% block extra_nav %}
{% endblock %}

{% block body %}


<p>Thank you for being a part of the Creative Commons Network over the last year. If you renew you'll be able to continue to register new works on the Network for an additional year.</p>

<p>If you choose not to renew, your account will be set as "inactive" and you won't be able to register new works, but your profile will remain public and you'll still be able to use your OpenID profile across the web.
Click one of the two buttons below to donate to Creative Commons and receive an authorization code that will enable you to renew your account here.</p>

<p>To renew your account, make an annual donation of $75 USD or above.</p>

<p>Thanks for your support!</p>

<div id="join_network">
  <h2><a href="https://support.creativecommons.org/join">
      {% trans "Renew Today!" %}
  </a></h2>
</div>

<div class="clear"></div>

{% endblock %}
