{% extends "base.html" %}
{% load i18n %}

{% block page_header %}
{% trans "Delete Work Registration" %}
{% endblock %}

{% block body %}

<p>
{% blocktrans with content.get_absolute_url as content_url and content.title as content_title %}
You are going to remove the registration for
<a href="{{ content_url }}">{{content_title}}</a>.
{% endblocktrans %}
</p>

<div class="form">
  <form method="post" enctype="multipart/form-data" action=".">

    <p>{% blocktrans %}
Are you sure you wish to continue? This <strong>can not</strong>
be undone.{% endblocktrans %}</p>

    <input type="submit" name="confirm" value='{% trans "Yes, delete" %}' />
    <a href="{{content.user.get_profile.get_absolute_url}}">
      {% trans "No, cancel" %}</a>
  </form>
</div>

{% endblock %}
