{% extends "base.html" %}
{% load i18n %}

{% block header %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/2.6.0/build/connection/connection-min.js"></script> 
<script src="http://yui.yahooapis.com/2.6.0/build/json/json-min.js"></script>
<script src="http://yui.yahooapis.com/2.6.0/build/json/json-min.js"></script>
<script src="http://yui.yahooapis.com/2.7.0/build/selector/selector-min.js"></script> 
<script>
YAHOO.namespace("cc");

// break lamespace
$ = YAHOO.util.Dom.get;

YAHOO.cc.licenses = Object();

YAHOO.cc.license_uri = function(license_uri) {

    // ensure that the license_uri is canonical
    // note that this is a CC-ism, although this only runs in deeds @ CC,
    // so we're fine with that

    if (license_uri.charAt(license_uri.length - 1) == '/') return license_uri;

    return license_uri.substring(0, license_uri.lastIndexOf('/') + 1);

} // license_uri

YAHOO.cc.get_license = function (metadata, subject) {

    // Return the license URI for the given subject; if no license is
    // asserted, return null.  This looks for xhtml:license, dc:license,
    // and cc:license in that order.

    if (!metadata[subject]) return null;

    var license = 
        metadata[subject]['http://www.w3.org/1999/xhtml/vocab#license'] ||
        metadata[subject]['http://purl.org/dc/terms/license'] ||
        metadata[subject]['http://creativecommons.org/ns#license'] || 
        null;

    if (license) return license[0];

    return null;

} // get_license

YAHOO.cc.get_title = function (metadata, subject) {

    // Return the title for the given subject; if no title is
    // asserted, return an empty string.

    if (!metadata[subject]) return null;

    var license = 
        metadata[subject]['http://purl.org/dc/terms/title'] ||
        metadata[subject]['http://purl.org/dc/elements/1.1/title'] ||
        null;

    if (license) return license[0];

    return '';

} // get_title

YAHOO.cc.success = function (response) {
	
	if (response.status != 200) return;
	
    var work_url = response.argument;
    var metadata = YAHOO.lang.JSON.parse(response.responseText);
    var subject = null;

    // hide the working indicator
    YAHOO.util.Dom.setStyle("loading_metadata", "display", "none");
	
	// see if the work URL has metadata
    if ( metadata.subjects.indexOf(work_url) > -1 ) {
		
		// update the title text and license url
        license_url = YAHOO.cc.get_license(metadata.triples, work_url);
        YAHOO.util.Dom.get('id_license_url').value = license_url;
		YAHOO.util.Dom.get('id_title').value = YAHOO.cc.get_title(metadata.triples, work_url);
		
		// need to update the drop downs	
    }

} // success

YAHOO.cc.failure = function () {
    // hide the working indicator
    YAHOO.util.Dom.setStyle("loading_metadata", "display", "none");
} // failure

YAHOO.cc.check = function () {

    var work_url = YAHOO.util.Dom.get('id_url').value;

    if (work_url.match('^https?://')) {

		// construct the request callback
		var callback = {
		    success: YAHOO.cc.success,
		    failure: YAHOO.cc.failure,
		    argument: work_url
		};

        // show the working indicator
        YAHOO.util.Dom.setStyle("loading_metadata", "display", "inline");

		var url = '/t/triples?url=' + encodeURIComponent(work_url);
		
		YAHOO.util.Connect.asyncRequest('GET', url, callback, null);
		
    } // if refered from http[s]:// request

} // check

YAHOO.cc.populate = function(select_id, license, jurisdiction) {
	
	if(license) {
		if(jurisdiction)
			options = YAHOO.cc.licenses[license]['jurisdictions'][jurisdiction]['versions'];
		else 
			options = YAHOO.cc.licenses[license]['jurisdictions'];
	}
	else
		options = YAHOO.cc.licenses;
	
	s = $(select_id);
	s.options.length = 0;
	
	for(var key in options) {
		opt = options[key];
		s.options[s.options.length] = new Option(key, (opt.code?opt.code:key));
	}
	
	s.options[s.options.length-1].selected = true;
	
}

YAHOO.cc.license_version_listener = function() {
	
	var url = 'http://creativecommons.org/licenses/' + 
			$('id_license_select_0').value + '/' +
			$('id_license_select_2').value + '/';
	
	if ($('id_license_select_1').value != '-')
		url += $('id_license_select_1').value + '/';
		
	$('id_license_url').value = url;
	$('view_license').href = url;
}

YAHOO.cc.license_jurisdiction_listener = function(){
	
	// it would be much simpler to use the codes instead of the names, but that would
	// disrupt our sorting algorithm on the backend
	license_name = $('id_license_select_0').options[$('id_license_select_0').selectedIndex].text;
	juris_name = this.options[this.selectedIndex].text;
	
	YAHOO.cc.populate('id_license_select_2', license_name, juris_name);
	YAHOO.util.Event.onAvailable("id_license_select_2", YAHOO.cc.license_version_listener);
}

YAHOO.cc.license_name_listener = function(){
	license_name = this.options[this.selectedIndex].text;
	YAHOO.cc.populate('id_license_select_1', license_name);
	YAHOO.util.Event.onAvailable("id_license_select_1", YAHOO.cc.license_jurisdiction_listener);
}

YAHOO.cc.callbacks = {
	success : function(r) {
		try {
			
			console.log("Worked");
			YAHOO.cc.licenses = YAHOO.lang.JSON.parse(r.responseText);
			
			// We don't want all the licenses so we'll just include these explicitly
			//YAHOO.cc.populate('id_license_name');
			
			// Update the jurisdictions and versions for the default license selected
			YAHOO.util.Event.onAvailable("id_license_select_0", YAHOO.cc.license_name_listener);
		}
		catch(e) {
			console.log("Error " + e);
			// need to display an error to the user or hide the select boxes
		}
	}
}


YAHOO.cc.load = function() {
	
	YAHOO.util.Event.addListener("id_license_select_0", "change", YAHOO.cc.license_name_listener);
	YAHOO.util.Event.addListener("id_license_select_1", "change", YAHOO.cc.license_jurisdiction_listener);
	YAHOO.util.Event.addListener("id_license_select_2", "change", YAHOO.cc.license_version_listener);
	YAHOO.util.Event.addListener("id_url", "blur", YAHOO.cc.check);

	YAHOO.util.Connect.asyncRequest('GET',"/l/license.json", YAHOO.cc.callbacks);
}

YAHOO.util.Event.onDOMReady(YAHOO.cc.load);
</script>

{% endblock %}


{% block page_header %}
{% if work %}
   {% trans "Edit Work Registration" %}
{% else %}
   {% trans "Register Your Work" %}
{% endif %}
{% endblock %}
{% block page_icon_class %}edit{% endblock %}

{% block body %}


<div class="form">
  {% if form.non_field_errors %}
   <div class="errors">
     {{ form.non_field_errors }}
   </div>
  {% endif %}


  <form method="post" enctype="multipart/form-data" action=".">

    <div class="field">
      <span class="field_label">{{form.url.label}}</span>
      {{form.url}} 
      <img id="loading_metadata" src="/m/images/loading.gif"
	   style="display:none;" />
      <div class="help">{{form.url.help_text}}

      {{form.claim_all}} 
      {{form.claim_all.label}}<br/>
      <div>{{form.claim_all.help_text|safe}}</div>
      {% if form.claim_all.errors %}
      <div class="errors">
	{{ form.claim_all.errors }}
      </div>
      {% endif %}

      {% if form.url.errors %}
      <div class="errors">
	{{ form.url.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field">
      <span class="field_label">{{form.title.label}}</span>
      {{form.title}}
      <div class="help">{{form.title.help_text}}</div>
      {% if form.title.errors %}
      <div class="errors">
	{{ form.title.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field">
      <span class="field_label">{{form.license.label}}</span>{{ form.license_select }}</span>

	<div style="padding-top:10px"><span class="field_label"> </span>{{ form.license_url }}</span>

		<div class="help">{{form.license_url.help_text}}</div>
		  <div class="help"><a href="#" id="view_license" target="_blank">Click here</a> to view the selected license.</div>
	      {% if form.license_url.errors %}
	      <div class="errors">
		{{ form.license_url.errors }}
	      </div>
	      {% endif %}
    </div>
	</div>

	{{ form.testing }}
	
    <input type="submit" value='{% trans "Save" %}' /> 
    <a href="{{user.get_profile.get_absolute_url}}">{% trans "Cancel" %}</a>

  </form>
</div>

{% endblock %}
