{% extends "base.html" %}
{% load i18n %}

{% block header %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/2.6.0/build/connection/connection-min.js"></script> 
<script src="http://yui.yahooapis.com/2.6.0/build/json/json-min.js"></script> 
<script src="http://yui.yahooapis.com/2.7.0/build/selector/selector-min.js"></script> 
<script>
YAHOO.namespace("cc");

var domquery = "";
var xmldata = "";

YAHOO.cc.license_uri = function(license_uri) {

    // ensure that the license_uri is canonical
    // note that this is a CC-ism, although this only runs in deeds @ CC,
    // so we're fine with that

    if (license_uri.charAt(license_uri.length - 1) == '/') return license_uri;

    return license_uri.substring(0, license_uri.lastIndexOf('/') + 1);

} // license_uri

YAHOO.cc.get_license = function (metadata, subject) {

    // Return the license URI for the given subject; if no license is
    // asserted, return null.  This looks for xhtml:license, dc:license,
    // and cc:license in that order.

    if (!metadata[subject]) return null;

    var license = 
        metadata[subject]['http://www.w3.org/1999/xhtml/vocab#license'] ||
        metadata[subject]['http://purl.org/dc/terms/license'] ||
        metadata[subject]['http://creativecommons.org/ns#license'] || 
        null;

    if (license) return license[0];

    return null;

} // get_license

YAHOO.cc.get_title = function (metadata, subject) {

    // Return the title for the given subject; if no title is
    // asserted, return an empty string.

    if (!metadata[subject]) return null;

    var license = 
        metadata[subject]['http://purl.org/dc/terms/title'] ||
        metadata[subject]['http://purl.org/dc/elements/1.1/title'] ||
        null;

    if (license) return license[0];

    return '';

} // get_title

YAHOO.cc.success = function (response) {

    if (response.status != 200) return;

    var work_url = response.argument;
    var metadata = YAHOO.lang.JSON.parse(response.responseText);
    var subject = null;

    // hide the working indicator
    YAHOO.util.Dom.setStyle("loading_metadata", "display", "none");
    
    // see if the work URL has metadata
    if ( (metadata.subjects.indexOf(work_url) > -1) ) {
		// this was for the previous method that used an input
        //YAHOO.util.Dom.get('id_license_url').value = YAHOO.cc.get_license(metadata.triples, work_url);
        //YAHOO.util.Dom.get('id_title').value = YAHOO.cc.get_title(metadata.triples, work_url);	
				
		this.domquery = "option[value|='" + YAHOO.cc.get_license(metadata.triples, work_url) + "']";
		console.log(this.domquery);
		var option = YAHOO.util.Selector.query(this.domquery)
		option[0].selected = true;
    }

} // success

YAHOO.cc.failure = function () {

    // hide the working indicator
    YAHOO.util.Dom.setStyle("loading_metadata", "display", "none");
    
} // failure

YAHOO.cc.check = function () {

    var work_url = YAHOO.util.Dom.get('id_url').value;

    if (work_url.match('^https?://')) {

	// construct the request callback
	var callback = {
	    success: YAHOO.cc.success,
	    failure: YAHOO.cc.failure,
	    argument: work_url
	};

        // show the working indicator
        YAHOO.util.Dom.setStyle("loading_metadata", "display", "inline");

	var url = '/t/triples?url=' + encodeURIComponent(work_url);
	YAHOO.util.Connect.asyncRequest('GET', url, callback, null);

    } // if refered from http[s]:// request

} // check

YAHOO.cc.build_select = function(options, selectID) {
	
	select = YAHOO.util.Dom.get(selectID);
	// empty this out
	select.options.length = 0;
	
	for(var i = 0; i < options.length; i++) {
		
		var optId =  options[i].getAttribute('id');
		var optValue = options[i].getAttribute('id');
		
		if(selectID == 'id_license_version') {
			optValue = options[i].getAttribute('uri');
		}
		
		select.options[i] = new Option(optId, optValue);
	}
	
	return;
	
}

YAHOO.cc.xquery = function(path) {
	
	var xpe = new XPathEvaluator();
	var nsResolver = xpe.createNSResolver(xmldata.ownerDocument == null ?
		xmldata.documentElement : xmldata.ownerDocument.documentElement);
	
	var result = xpe.evaluate(path, xmldata, nsResolver, 0, null);
	var found = [];
	var res;
	while (res = result.iterateNext())
		found.push(res);
	
	return found;
}

YAHOO.cc.license_name_listener = function() {	
	
	// need to clear versions
	
	xpath = "//license[@id='"+this.value+"']/jurisdiction";
	result = YAHOO.cc.xquery(xpath);
	YAHOO.cc.build_select(result, 'id_license_jurisdiction');
	
	// need fire jurisdiction listener
	
	return;
	
}

YAHOO.cc.license_jurisdiction_listener = function() {	
	
	license = YAHOO.util.Dom.get('id_license_name');
	xpath = "//license[@id='"+license.value+"']/jurisdiction[@id='"+this.value+"']/version";
	console.log(xpath);
	result = YAHOO.cc.xquery(xpath);
	YAHOO.cc.build_select(result, 'id_license_version');
	
	return;
	
}

YAHOO.cc.load = function() {

	// fetch license.xml data and store
	var req = new XMLHttpRequest();
	req.open("GET", "/l/licenses.xml", false);
	req.send(null);
	
	xmldata = req.responseXML;
	
  	YAHOO.util.Event.addListener("id_url", "blur", YAHOO.cc.check);
  	YAHOO.util.Event.addListener("id_license_name", "change", YAHOO.cc.license_name_listener);
	YAHOO.util.Event.addListener("id_license_jurisdiction", "change", YAHOO.cc.license_jurisdiction_listener);
	
	// need to fire license_name listener
	
} //load

YAHOO.util.Event.onDOMReady(YAHOO.cc.load);
</script>

{% endblock %}


{% block page_header %}
{% if work %}
   {% trans "Edit Work Registration" %}
{% else %}
   {% trans "Register Your Work" %}
{% endif %}
{% endblock %}
{% block page_icon_class %}edit{% endblock %}

{% block body %}


<div class="form">
  {% if form.non_field_errors %}
   <div class="errors">
     {{ form.non_field_errors }}
   </div>
  {% endif %}


  <form method="post" enctype="multipart/form-data" action=".">

    <div class="field">
      <span class="field_label">{{form.url.label}}</span>
      {{form.url}} 
      <img id="loading_metadata" src="/m/images/loading.gif"
	   style="display:none;" />
      <div class="help">{{form.url.help_text}}

      {{form.claim_all}} 
      {{form.claim_all.label}}<br/>
      <div>{{form.claim_all.help_text|safe}}</div>
      {% if form.claim_all.errors %}
      <div class="errors">
	{{ form.claim_all.errors }}
      </div>
      {% endif %}

      {% if form.url.errors %}
      <div class="errors">
	{{ form.url.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field">
      <span class="field_label">{{form.title.label}}</span>
      {{form.title}}
      <div class="help">{{form.title.help_text}}</div>
      {% if form.title.errors %}
      <div class="errors">
	{{ form.title.errors }}
      </div>
      {% endif %}
    </div>

    <div class="field">
      <span class="field_label">{{form.license_name.label}}</span>
     	
		{{form.license_name}}
	 	<select id="id_license_jurisdiction"></select>
	 	<select id="id_license_version"></select>
	  
      <div class="help">{{form.license_name.help_text}}</div>
      {% if form.license_name.errors %}
      <div class="errors">
	{{ form.license_name.errors }}
      </div>
      {% endif %}
    </div>

    <input type="submit" value='{% trans "Save" %}' /> 
    <a href="{{user.get_profile.get_absolute_url}}">{% trans "Cancel" %}</a>

  </form>
</div>

{% endblock %}
