{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Registered Works" %} -{% endblock %}

{% block page_header %}
  {% trans "Registered Works" %}
{% endblock %}

{% block page_sub_header %} 
<a href="{{ profile.get_absolute_url }}">{{ profile.display_name }}</a>
{% endblock %}
{% block page_icon_class %}works{% endblock %}

{% block body %}

{% if message %}
<h3>{{ message }}</h3>
{% endif %}

{% if works %}
    <ul class="licensed-works">
      {% for work in works %}
         {% include "works/list_item.html" %}
      {% endfor %}
    </ul>
{% endif %}

{% endblock %}
