{% load i18n %}
{% load license %}      

<li>
  <span about="{{work.owner.get_absolute_url}}/" rel="sioc:owner_of" resource="{{work.url}}"></span>
  <a about="{{work.owner.get_absolute_url}}" 
     rel="sioc:owner_of" href="{{work.url}}">
    <strong property="dct:title">{{work.title}}</strong></a>

  {% if work.constrained %}
<div class="work_constraints" about="{{work.get_absolute_url}}" 
      rel="powder:iriset" style="font-size:95%">
  {% if work.has_leading_glob %}
    {% trans "Includes all works beginning with this URL." %}
  {% for c in work.constraints.all %}
  <span property="powder:{{c.mode}}regex" content="{{c.regex}}" />
  {% endfor %}
  {% endif %}
</div>
{%else%}
  <br/>
{% endif %}
  
  {% ifequal user work.owner_user %}
  <span style="float: right;">
    <a href="{% url edit_content work.id %}">[{% trans "edit" %}]</a>
    <a href="{% url delete_content work.id %}">[{% trans "delete" %}]</a>
  </span>
  {% endifequal %}
  
  <a about="{{work.get_absolute_url}}"
     rel="sioc:parent_of" rev="sioc:has_parent"
     href="{{work.url}}" />
  <span about="{{work.owner.get_absolute_url}}/" rel="sioc:owner_of" resource="{{work.url}}"></span>
  <a about="{{work.owner.get_absolute_url}}"
     rel="sioc:owner_of" rev="sioc:has_owner dct:creator"
     href="{{work.get_absolute_url}}">
    <span property="dct:created" 
	  datatype="xsd:date">{{work.registered|date:"m/d/Y"}}</span>
  </a> &mdash;
  
  <a about="{{work.url}}" rel="license" href="{{work.license}}" >
    <img src="{{work.license|license_button}}" 
	 alt="{{work.license|license_code}}" 
	 style="border:0;" /></a> 
  
</li>

