{% extends "base.html" %}
{% load i18n %}

{% block header %}
{% if profile %}
<link rel="meta" type="application/rdf+xml" 
      href="{{base_url}}{% url profile_rdf username=profile.user.username %}" /> 
{% endif %}
{% endblock %}

{% block head_title %}{% trans "Registered Works" %} -{% endblock %}

{% block page_header %}
  {% trans "Registered Works" %}
{% endblock %}

{% block page_sub_header %} 
<a href="{{ profile.get_absolute_url }}">{{ profile.display_name }}</a>
{% endblock %}
{% block page_icon_class %}works{% endblock %}

{% block body %}

{% if message %}
<h3>{{ message }}</h3>
{% endif %}

{% if feeds %}
<h4>Consuming the following feeds</h4>

{% load license %}
<ul class="licensed-works">
	{% for feed in feeds %}
         <li><a href="{{feed.url}}">{{feed.url}}</a> ({{feed.works|length}} works)
	
		  <a about="{{feed.url}}" rel="license" href="{{feed.license_url}}" >
		    <img src="{{feed.license_url|license_button}}" 
			 alt="{{feed.license_url|license_code}}" 
			 style="border:0;" /></a>
		
			<a href="{% url edit_feed feed.id %}">[edit]</a>
			<a href="{% url delete_feed feed.id %}">[delete]</a>
		</li>
      {% endfor %}
    </ul>
<br />
{% endif %}

{% if works %}

    <ul class="licensed-works">
      {% for work in works %}
         {% include "works/list_item.html" %}
      {% endfor %}
    </ul>
{% endif %}

{% endblock %}
