{% extends "base.html" %}
{% load i18n %}

{% block header %}
<link about="" typeof="ccnet:Registration" />
<link about="{{work.url}}" typeof="cc:Work" />
{% endblock %}

{% block head_title %}{{ work.title }} -{% endblock %}

{% block page_header %}
  {% trans "Work Registration" %}
{% endblock %}
{% block page_icon_class %}works{% endblock %}

{% block extra_nav %}
   {% ifequal user work.owner_user %}
   <li><a href="{% url edit_content work.id %}">{% trans "edit" %}</a></li>
   <li><a href="{% url delete_content work.id %}">{% trans "delete" %}</a></li>
   {% endifequal %}
{% endblock %}

{% block body %}

<h2 about="{{work.url}}" property="dct:title"
    rel="sioc:has_owner" rev="sioc:owner_of"
    resource="{{ work.owner.get_absolute_url }}">{{work.title}}</h2>
<h3><a rel="sioc:parent_of" rev="sioc:has_parent" 
       href="{{work.url}}">{{work.url}}</a></h3>
{% if work.constrained %}
<ul class="work_constraints" rel="powder:iriset">
  {% if work.has_leading_glob %}
  <li>{% trans "Includes all works beginning with this URL." %}
  {% for c in work.constraints.all %}
  <span property="powder:{{c.mode}}regex" content="{{c.regex}}" />
  {% endfor %}
  </li>
  {% endif %}
</ul>
{% endif %}

<ul class="work_fields">
  <li>
    <span class="field_label">{% trans "Registered By" %}:</span> 
    <a rel="dct:creator sioc:has_owner" rev="sioc:owner_of"
       href="{{work.owner.get_absolute_url}}">{{ work.owner.display_name }}</a>
  </li>

  <li>
    <span class="field_label">{% trans "Registered On" %}:</span> 
    <span property="dct:created" datatype="xsd:date">{{ work.registered|date:"Y-m-d" }}</span>
  </li>

  <li>
    <span class="field_label">{% trans "License" %}:</span> 
    <a about="{{work.url}}" rel="license" href="{{work.license_url}}">{{ work.license }}</a>
  </li>
</ul>
{% endblock %}

{% block license_override%}{% blocktrans %}
Except where otherwise <a class="subfoot"
			  href="/h/privacy/">noted</a>, content on
this site is licensed under
a <a href="http://creativecommons.org/licenses/by/3.0/"
     class="subfoot">Creative Commons Attribution 3.0
  License</a>.<br/>Use of this site is governed by
the <a href="/l/termsofuse.html">terms of use</a>. CC
Network <a href="http://wiki.creativecommons.org/CC_Network_Development">code</a>
is available under
the <a href="http://www.fsf.org/licensing/licenses/agpl.html">GNU
  Affero General Public License</a>.{% endblocktrans %}{% endblock %}
{% endblocktrans %}{% endblock %}


{% block license_override %}
<a href="http://creativecommons.org/licenses/by/3.0/"
   class="subfoot">Creative Commons Attribution 3.0 License</a>
{% endblock %}
