<html>
  <head>
    {% block header %}

    {% endblock %}
  </head>
  
  <body>
    <h2>{% block page_header %}commoner.cc{% endblock %}</h2>

    <div id="navigation">
      {% block nav_override %}
      <ul>
        {% if user.is_anonymous %}
        <li><a href="{% url django.contrib.auth.views.login %}">login</a></li>
	{% else %}
        <li><a href="{% url commoner.profiles.views.profile_view user.username %}">my profile</a></li>
        <li><a href="{% url django.contrib.auth.views.logout %}">logout</a></li>
	{% endif %}

        {% block extra_nav %}
	{% endblock %}

      </ul>
      {% endblock %}
    </div>
    
    {% block body %}
    {% endblock %}

  </body>
</html>
