<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" 
	"http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" 
{% include "rdf/namespaces.html" %}
{% block namespaces %}{% endblock %}
      >
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
  	<title>{% block head_title %}{% endblock %} CC Network</title>
  	<link href="/m/css/style.css" rel="stylesheet" type="text/css"/>

        <link about="/" rel="sioc_service:has_service"
	      href="{{ services.lookup_work }}" />
        <link about="{{ services.lookup_work }}" 
	      rel="sioc_service:service_protocol"
	      href="http://wiki.creativecommons.org/work-lookup" />
    {% block header %}

    {% endblock %}
  
  </head>


  <body>
    <div id="header">
      <h1><a href="/" title="CC Network">
	  <span property="dct:title">CC Network</span>
      </a></h1>
    </div>
    
    <div id="nav" class="box nbox">
      {% block nav_override %}
      <ul class="box">
        {% if user.is_anonymous %}
	<li><a href="http://support.creativecommons.org/join">Join</a></li>
        <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
	{% else %}
        <li><a href="{% url profile_view user.username %}">My Profile</a></li>
        <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
	{% endif %}

	<li><a href="/h/about">Help</a></li>

      </ul>
    </div>
    <div id="subnav" class="box nbox">
      <ul class="box">
        {% block extra_nav %}
	{% endblock %}
      </ul>	
      {% endblock %}
    </div>
    
    
    <div id="main-body" class="box {% block page_icon_class %}{% endblock %}">
      <div class="block" id="title">
        <div class="title-labels">
          <h1>{% block page_header %}creativecommons.net{% endblock %}</h1>
          <h3>{% block page_sub_header %}{% endblock %}</h3>
        </div>
      </div>
      <div class="block page clear">
        {% block body %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="box">
        <div id="license">
          <p>
            <a href="http://creativecommons.org/licenses/by/3.0/">
              <img src="http://i.creativecommons.org/l/by/3.0/80x15.png" alt="Creative Commons Attribution 3.0 License" style="border:none;" height="15" width="80" />
            </a>
            Except where otherwise <a class="subfoot" href="/h/privacy/">noted</a>, content on this site is 
            licensed under a {%block license_override%}<a rel="license" href="http://creativecommons.org/licenses/by/3.0/" class="subfoot">Creative Commons Attribution 3.0 License</a>{%endblock%}.<br/>
			Use of this site is governed by the <a href="/l/termsofuse.html">terms of use</a>.  
			CC Network <a href="http://wiki.creativecommons.org/CC_Network_Development">code</a>
            is available under the <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero General Public License</a>.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
