{% extends "base.html" %}

{% block page_header %}Welcome to<br/>The Creative Commons Network{% endblock %}
{% block body %}

<p>
Creative Commons, at its core, is about supporting global participatory culture. By joining the Creative Commons Network, you will be joining a worldwide community dedicated to building the Commons &mdash; the pool of content, of knowledge, that is freely and legally accessible to everyone &mdash; a vital public resource in this digital age. <a href="http://support.creativecommons.org/join">Join today!</a>
</p>

<div class="benefits">
<h2>Benefits</h2>
<p>
When you support Creative Commons with an annual contribution of US$ 25 you receive a membership in the Creative Commons Network. The CC Network includes:
</p>
<ul>
	<li> <h3>OpenID support</h3>
		 Your CC Network profile acts as an OpenID. OpenID allows you to log into many sites without exposing your credentials to them. Creative Commons' OpenID implementation puts privacy first [link to best practices/ about why our OpenID is cool].</li>
	<li> <h3>Identify Your Content</h3>
		 When you support Creative Commons financially, we're able to say with greater certainty that we know who you are. We give you a badge you can place on pages you create identifying you as a member of the Creative Commons Network. This badge not only gives visible notice that you support Free Culture, but allows us to help identify you on license deeds [link to "comic" explaining how identification works].</li>
</ul>
</div>
<table width="100%">
<tr>
<td width="33%">Support The Commons<br/>
<em>and get a profile</em></td>
<td width="33%">Create a Profile</td>
<td width="33%">Lorem Ipsum</td>
</tr>
</table>

{% endblock %}
