{% extends "base.html" %}

{% block page_header %}Welcome to<br/>The Creative Commons Network{% endblock %}
{% block body %}

<ul id="benefit_list">
	<li><img src="/m/images/benefits/openid.png" /><h2>OpenID Profile</h2></li>
	<li><img src="/m/images/benefits/identify.png" /><h2>Identify Your Content</h2></li>
	<li><img src="/m/images/benefits/share.png" /><h2>Share Your CC Story</h2></li>
</ul>
<p>
Creative Commons, at its core, is about supporting global participatory culture. By joining the Creative Commons Network, you will be joining a worldwide community dedicated to building the Commons &mdash; the pool of content, of knowledge, that is freely and legally accessible to everyone &mdash; a vital public resource in this digital age. <a href="http://support.creativecommons.org/join">Join today!</a>
</p>

<div class="benefits">
<p>
When you support Creative Commons with an annual contribution of US$ 25 you receive a membership in the Creative Commons Network. The CC Network includes:
</p>
<ul>
	<li> <h3>OpenID support</h3>
		 Your CC Network profile acts as an OpenID. OpenID allows you to log into many sites without exposing your credentials to them. Creative Commons' OpenID implementation puts privacy first [link to best practices/ about why our OpenID is cool].</li>
	<li> <h3>Identify Your Content</h3>
		 When you support Creative Commons financially, we're able to say with greater certainty that we know who you are. We give you a badge you can place on pages you create identifying you as a member of the Creative Commons Network. This badge not only gives visible notice that you support Free Culture, but allows us to help identify you on license deeds [link to "comic" explaining how identification works].</li>
	<li> <h3>Share Your Story</h3>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer ut quam. Phasellus justo. Etiam condimentum pharetra eros. Integer dui. Etiam eu quam. Cras venenatis auctor nulla. Maecenas quis justo. Sed tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ut, porttitor ultricies, urna. Sed ultrices. Donec commodo. Integer sed</li> 
</ul>
</div>

<h2>About CC</h2>
<p>
<a href="http://creativecommons.org/">Creative Commons</a> is a non-profit organization that works to increase the amount of content (cultural, educational, and scientific content) in "the commons" &mdash; the body of work that is available to the public for free and legal sharing, use, re-purposing, and remixing. Creative Commons does this by providing free, easy-to-use legal and technical tools that give everyone a simple, standardized way to pre-clear copyrights to their creative work. CC licenses let people easily change their copyright terms from the default, restrictive "all rights reserved" to a more flexible "some rights reserved." To learn more about Creative Commons, please visit our <a href="http://creativecommons.org/">website</a>.
</p>

<table width="100%" style="margin-top:5em;">
<tr>
<td width="33%">Support The Commons<br/>
<em>and get a profile</em></td>
<td width="33%">Create a Profile</td>
<td width="33%">Lorem Ipsum</td>
</tr>
</table>

{% endblock %}
